b6 {
	color:#6600CC;
	font-family: arial;
	font-size: 20px;
	font-weight: bold;
}
#b5{
	height:30px;
	width:200px;
	font-size: 19px;
	font-style: arial;
	text-indent: 10px; 
	border-radius: 10px;

}

#section{
	display: table;
  	margin: 0 auto;
  	margin-top: 10%;
  	background-color: #FFFFE0;;
  		border-radius: 10px;

}