.highlight input:hover { 
    background-color: yellow;
}

#list table{
	
	border-collapse:collapse;
	width:20%;
	margin-top: 40px;
	
}
#list{
	margin-left:-300px;
		
	padding-left:30 px;
	height:800%;
	width:170%;
	margin-top: 40px;
}
#list th {
	
	color:white ;
	font-weight: bold;
	font-family: arial;
	font-size: 20px;
	background-color: #0093AF;
	
}
#list td{
	
	color:blue ;
	font-weight: bold;
	font-family: arial;
	font-size: 20px;
	text-align:center;
	width:3%;
	height: 20px;
	background-color:#F0F8FF;
}

#list tr{
	color:white;

}