<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Vaccuno_Pro</display-name>
  <context-param>
    <param-name>host</param-name>
    <param-value>smtp.gmail.com</param-value>
  </context-param>
  <context-param>
    <param-name>port</param-name>
    <param-value>25</param-value>
  </context-param>
  <context-param>
    <param-name>user</param-name>
    <param-value>vaccuno1234@gmail.com</param-value>
  </context-param>
  <context-param>
    <param-name>pass</param-name>
    <param-value>vaccuno123</param-value>
  </context-param>
  <welcome-file-list>
    <welcome-file>loginpage.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginAdminServ</display-name>
    <servlet-name>LoginAdminServ</servlet-name>
    <servlet-class>LoginAdminServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAdminServ</servlet-name>
    <url-pattern>/LoginAdminServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginCustomer</display-name>
    <servlet-name>loginCustomer</servlet-name>
    <servlet-class>loginCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginCustomer</servlet-name>
    <url-pattern>/loginCustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginDoctor</display-name>
    <servlet-name>loginDoctor</servlet-name>
    <servlet-class>loginDoctor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginDoctor</servlet-name>
    <url-pattern>/loginDoctor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServ</display-name>
    <servlet-name>LogoutServ</servlet-name>
    <servlet-class>LogoutServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServ</servlet-name>
    <url-pattern>/LogoutServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet_AddVaccine</display-name>
    <servlet-name>Servlet_AddVaccine</servlet-name>
    <servlet-class>Servlet_AddVaccine</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet_AddVaccine</servlet-name>
    <url-pattern>/Servlet_AddVaccine</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet_SignUpAdmin</display-name>
    <servlet-name>Servlet_SignUpAdmin</servlet-name>
    <servlet-class>Servlet_SignUpAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet_SignUpAdmin</servlet-name>
    <url-pattern>/Servlet_SignUpAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet_SignUpDoctor</display-name>
    <servlet-name>Servlet_SignUpDoctor</servlet-name>
    <servlet-class>Servlet_SignUpDoctor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet_SignUpDoctor</servlet-name>
    <url-pattern>/Servlet_SignUpDoctor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletSignUpCustomer</display-name>
    <servlet-name>ServletSignUpCustomer</servlet-name>
    <servlet-class>ServletSignUpCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletSignUpCustomer</servlet-name>
    <url-pattern>/ServletSignUpCustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VaccinelistCustServ</display-name>
    <servlet-name>VaccinelistCustServ</servlet-name>
    <servlet-class>VaccinelistCustServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VaccinelistCustServ</servlet-name>
    <url-pattern>/VaccinelistCustServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VaccinelistServ</display-name>
    <servlet-name>VaccinelistServ</servlet-name>
    <servlet-class>VaccinelistServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VaccinelistServ</servlet-name>
    <url-pattern>/VaccinelistServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteVaccineServ</display-name>
    <servlet-name>DeleteVaccineServ</servlet-name>
    <servlet-class>DeleteVaccineServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteVaccineServ</servlet-name>
    <url-pattern>/DeleteVaccineServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateVaccineServ</display-name>
    <servlet-name>UpdateVaccineServ</servlet-name>
    <servlet-class>UpdateVaccineServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateVaccineServ</servlet-name>
    <url-pattern>/UpdateVaccineServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToDoServ</display-name>
    <servlet-name>AddToDoServ</servlet-name>
    <servlet-class>AddToDoServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToDoServ</servlet-name>
    <url-pattern>/AddToDoServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TodoVaccinelistServ</display-name>
    <servlet-name>TodoVaccinelistServ</servlet-name>
    <servlet-class>TodoVaccinelistServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TodoVaccinelistServ</servlet-name>
    <url-pattern>/TodoVaccinelistServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookAppointmentServ</display-name>
    <servlet-name>BookAppointmentServ</servlet-name>
    <servlet-class>BookAppointmentServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookAppointmentServ</servlet-name>
    <url-pattern>/BookAppointmentServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AppointmentServ</display-name>
    <servlet-name>AppointmentServ</servlet-name>
    <servlet-class>AppointmentServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AppointmentServ</servlet-name>
    <url-pattern>/AppointmentServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VaccinelistDocServ</display-name>
    <servlet-name>VaccinelistDocServ</servlet-name>
    <servlet-class>VaccinelistDocServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VaccinelistDocServ</servlet-name>
    <url-pattern>/VaccinelistDocServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AppointmentRequestServ</display-name>
    <servlet-name>AppointmentRequestServ</servlet-name>
    <servlet-class>AppointmentRequestServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AppointmentRequestServ</servlet-name>
    <url-pattern>/AppointmentRequestServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeStatusAppointServ</display-name>
    <servlet-name>ChangeStatusAppointServ</servlet-name>
    <servlet-class>ChangeStatusAppointServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeStatusAppointServ</servlet-name>
    <url-pattern>/ChangeStatusAppointServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfirmDateServ</display-name>
    <servlet-name>ConfirmDateServ</servlet-name>
    <servlet-class>ConfirmDateServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmDateServ</servlet-name>
    <url-pattern>/ConfirmDateServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoctorDetailServ</display-name>
    <servlet-name>DoctorDetailServ</servlet-name>
    <servlet-class>DoctorDetailServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoctorDetailServ</servlet-name>
    <url-pattern>/DoctorDetailServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoctorDetailsServ</display-name>
    <servlet-name>DoctorDetailsServ</servlet-name>
    <servlet-class>DoctorDetailsServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoctorDetailsServ</servlet-name>
    <url-pattern>/DoctorDetailsServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getDirectionServ</display-name>
    <servlet-name>getDirectionServ</servlet-name>
    <servlet-class>getDirectionServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getDirectionServ</servlet-name>
    <url-pattern>/getDirectionServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AskQueryServ</display-name>
    <servlet-name>AskQueryServ</servlet-name>
    <servlet-class>AskQueryServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AskQueryServ</servlet-name>
    <url-pattern>/AskQueryServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayQueryServ</display-name>
    <servlet-name>DisplayQueryServ</servlet-name>
    <servlet-class>DisplayQueryServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayQueryServ</servlet-name>
    <url-pattern>/DisplayQueryServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayQueryServDoc</display-name>
    <servlet-name>DisplayQueryServDoc</servlet-name>
    <servlet-class>DisplayQueryServDoc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayQueryServDoc</servlet-name>
    <url-pattern>/DisplayQueryServDoc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReplyQueryServ</display-name>
    <servlet-name>ReplyQueryServ</servlet-name>
    <servlet-class>ReplyQueryServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReplyQueryServ</servlet-name>
    <url-pattern>/ReplyQueryServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetQueryServ</display-name>
    <servlet-name>SetQueryServ</servlet-name>
    <servlet-class>SetQueryServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetQueryServ</servlet-name>
    <url-pattern>/SetQueryServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ratingServ</display-name>
    <servlet-name>ratingServ</servlet-name>
    <servlet-class>ratingServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ratingServ</servlet-name>
    <url-pattern>/ratingServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewRatingServ</display-name>
    <servlet-name>ViewRatingServ</servlet-name>
    <servlet-class>ViewRatingServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewRatingServ</servlet-name>
    <url-pattern>/ViewRatingServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>confirmratingSubmissionServ</display-name>
    <servlet-name>confirmratingSubmissionServ</servlet-name>
    <servlet-class>confirmratingSubmissionServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>confirmratingSubmissionServ</servlet-name>
    <url-pattern>/confirmratingSubmissionServ</url-pattern>
  </servlet-mapping>
</web-app>