<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Vaccuno_Pro</display-name>
  <welcome-file-list>
    <welcome-file>loginpage.jsp</welcome-file>
    
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginAdminServ</display-name>
    <servlet-name>LoginAdminServ</servlet-name>
    <servlet-class>LoginAdminServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAdminServ</servlet-name>
    <url-pattern>/LoginAdminServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginCustomer</display-name>
    <servlet-name>loginCustomer</servlet-name>
    <servlet-class>loginCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginCustomer</servlet-name>
    <url-pattern>/loginCustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginDoctor</display-name>
    <servlet-name>loginDoctor</servlet-name>
    <servlet-class>loginDoctor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginDoctor</servlet-name>
    <url-pattern>/loginDoctor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServ</display-name>
    <servlet-name>LogoutServ</servlet-name>
    <servlet-class>LogoutServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServ</servlet-name>
    <url-pattern>/LogoutServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet_AddVaccine</display-name>
    <servlet-name>Servlet_AddVaccine</servlet-name>
    <servlet-class>Servlet_AddVaccine</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet_AddVaccine</servlet-name>
    <url-pattern>/Servlet_AddVaccine</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet_SignUpAdmin</display-name>
    <servlet-name>Servlet_SignUpAdmin</servlet-name>
    <servlet-class>Servlet_SignUpAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet_SignUpAdmin</servlet-name>
    <url-pattern>/Servlet_SignUpAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet_SignUpDoctor</display-name>
    <servlet-name>Servlet_SignUpDoctor</servlet-name>
    <servlet-class>Servlet_SignUpDoctor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet_SignUpDoctor</servlet-name>
    <url-pattern>/Servlet_SignUpDoctor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletSignUpCustomer</display-name>
    <servlet-name>ServletSignUpCustomer</servlet-name>
    <servlet-class>ServletSignUpCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletSignUpCustomer</servlet-name>
    <url-pattern>/ServletSignUpCustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VaccinelistCustServ</display-name>
    <servlet-name>VaccinelistCustServ</servlet-name>
    <servlet-class>VaccinelistCustServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VaccinelistCustServ</servlet-name>
    <url-pattern>/VaccinelistCustServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VaccinelistServ</display-name>
    <servlet-name>VaccinelistServ</servlet-name>
    <servlet-class>VaccinelistServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VaccinelistServ</servlet-name>
    <url-pattern>/VaccinelistServ</url-pattern>
  </servlet-mapping>
</web-app>